.venv
.ddsp_venv
.spleeter_venv
.idea
*/.openunmix*
*/.source_sep_venv*
*__pycache__*
google-cloud-sdk/
google-cloud-cli*

datasets/
*.pickle

.vscode

workspace/slurm*

workspace/ddsp_pretrained
workspace/ddsp_user
workspace/pretrained_models

workspace/.cookie
workspace/google-cloud-sdk
workspace/google-cloud-cli-386.0.0-linux-x86_64.tar.gz

workspace/data/*
!workspace/data/test.wav
!workspace/data/sample.wav
!workspace/data/1788_example*

newrelic_agent.log
