.venv
.vscode

.omni_venv
.ddsp_venv
.spleeter_venv

workspace/slurm*
workspace/ddsp_pretrained
workspace/ddsp_user
workspace/pretrained_models
workspace/google-cloud-sdk
workspace/1788_kv_465_1.mid
workspace/1788.csv
workspace/1788.wav

newrelic_agent.log
